<head>
  <style>
    body {
      background-color: black;
      color: white;
      font-smooth: never;
      -webkit-font-smoothing : none;

      font-family: monospace;
    }
    .b {
      display: inline-block;
    }
    .flags {
      width: 5em;
      text-align: right;
    }
    .date {
      min-width: 11em;
    }
    .from {
      width: 20em;
    }
    .info {
      width: 5em;
    }
    .title {
    }
  </style>
</head>
<body>
  <div class="line">
    <span class="b index">29503</span>
    <span class="b flags">CDT</span>
    <span class="b date">23 Jan 2013</span>
    <span class="b from">Roger Daniel</span>
    <span class="b info">( 0)</span>
    <span class="b title">Scandale !</span>
  </div>

  </div>
</body>
