<head>
  <style>
    body {
      background-color: black;
      color: white;
      font-smooth: never;
      -webkit-font-smoothing : none;

      font-family: monospace;
    }
    .b {
      display: inline-block;
    }
    .flags {
      width: 5em;
      text-align: right;
    }
    .date {
      min-width: 11em;
    }
    .from {
      width: 20em;
    }
    .info {
      width: 5em;
    }
    .title {
    }
  </style>
</head>
<body>
  {% for m in mailList %}
  <div class="line">
    <span class="b index">{{ m.id }}</span>
    <span class="b flags">{{ m.flags}}</span>
    <span class="b date">{{ m.date }}</span>
    <span class="b from">{{ m.from }}</span>
    <span class="b info">( {{ m.extra }})</span>
    {% autoescape off %}
    <span class="b title">{{ m.subject }}</span>
    {%endautoescape %}
  </div>
  {% endfor %}

  </div>
</body>
